<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <% if (category) { %>
        <h2><%= category.name %></h2>
    <% } else { %>
        <p>Category not found.</p>
    <% } %>
</main>
<%- include('partials/footer') %>
